name: devops app


on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  id-token: write
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.9
      uses: actions/setup-python@v3
      with:
        python-version: 3.9

    - name: List Files
      run: |
       ls

    - name: Greet
      run: |
        echo "Oliver Bajus"
    - name: List Files again
      run: |
        ls
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python 3.9
        uses: actions/setup-python@v3
        with:
          python-version: 3.9

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest
          python -m pip install flake8

      - name: Run pytests
        run: |
          pytest
      - name: Lint check
        run: |
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=10 --statistics

      - name: Build and Push Image
        run: |
          echo ${{ secrets.DOCKER_PASSWORD }}
          echo ${{ vars.TEST_VARIABLE }}

  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Docker login
        uses: docker/login-action@v2
        with:
          username:  echo ${{ secrets.DOCKER_USERNAME }}
          password:  echo ${{ secrets.DOCKER_PASSWORD }}